<div id="sidebar-overlays" class="leaflet-sidebar-pane">
  <h1 class="leaflet-sidebar-header">
    Overlays
    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <form id="overlay-list" action="#">
        </form>
      </div>
    </div>
  </div>
</div>
