<div id="sidebar-home" class="leaflet-sidebar-pane">
  <h1 class="leaflet-sidebar-header">
    Kerbal Maps
    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>
  <p>
    Maps of celestial bodies in
    <a href="https://www.kerbalspaceprogram.com/">Kerbal Space Program</a>,
    with a Google Maps-like interface.
  </p>
</div>
