<div id="sidebar-credits" class="leaflet-sidebar-pane">
  <h1 class="leaflet-sidebar-header">
    Credits
    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>
  <div id="credits"></div>
  <p>Version <%= :application.which_applications |> Enum.find(fn t -> elem(t, 0) == :kerbal_maps end) |> elem(2) %></p>
</div>
