<div id="sidebar-filter" class="leaflet-sidebar-pane">
  <h1 class="leaflet-sidebar-header">
    Filter
    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>
  <ul style="list-style-type: none">
    <li>
      <input type="checkbox" id="show_overlays" name="show_overlays" value="true" />
      <label for="show_overlays" style="display: inline-block">All?</label>
    </li>
    <ul style="list-style-type: none">
    </ul>
  </ul>
</div>
