<div id="sidebar-profile" class="leaflet-sidebar-pane">
  <h1 class="leaflet-sidebar-header">
    <%= if @current_user, do: @current_user.email, else: "Profile" %>
    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>

  <%= if @current_user do %>
    <%= render @view_module, "_profile_user.html", assigns %>
  <% else %>
  <%= render @view_module, "_profile_no_user.html", assigns %>
  <% end %>
</div>
