/* This file is for your main application css. */

@import "./phoenix.css";

.credits {
  background: #EEEEEE;
  padding: 50px 0 50px;
}

.credits > h2, .credits > p {
  text-align: center;
}

.leaflet-sidebar button,
.leaflet-sidebar input,
.leaflet-sidebar select {
  font-size: 12px;
}

.leaflet-sidebar-pane .row {
  margin-top: 3em;
}

div.card-body form {
  margin-bottom: 0;
}
