/* This file is for your main application css. */

@import "./phoenix.css";

.credits {
  background: #EEEEEE;
  padding: 50px 0 50px;
}

.credits > h2, .credits > p {
  text-align: center;
}

.leaflet-sidebar button,
.leaflet-sidebar input,
.leaflet-sidebar li,
.leaflet-sidebar p,
.leaflet-sidebar select {
  font-size: 14px;
}

.leaflet-sidebar label {
  font-size: 14px;
  margin-left: 1em;
}

.leaflet-sidebar-pane .row {
  margin-top: 3em;
}

div.card-body form {
  margin-bottom: 0;
}
