DATABASE_URL=postgres://postgres@docker.for.mac.localhost:5432/kerbal_maps
ERLANG_COOKIE=kerbal_maps
SECRET_KEY_BASE="iaHE+HIGINrttjslKYFXnDoLWovYWxwzfJlPIRpaztan7NDI9qUVtv7pwe5Q+H3+"
TILE_CDN_URL=https://kerbal-maps.cdn.example.com/tiles

HOSTNAME=localhost
PORT=4000
LANG=en_US.UTF-8
