<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>KerbalMaps</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-sidebar-v2@3.0.6/css/leaflet-sidebar.min.css">
    <%= if assigns[:user_token] do %>
      <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <% end %>
    <%= if System.get_env("TILE_CDN_URL") do %>
      <script>window.tileCdnURL = "<%= System.get_env("TILE_CDN_URL") %>";</script>
    <% end %>
    <%= if @current_user do %>
      <script>window.userID = <%= @current_user.id %>;</script>
    <% end %>
  </head>
  <body style="padding: 0; margin: 0;">
    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-graticule@0.0.1/Leaflet.Graticule.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-sidebar-v2@3.0.6/js/leaflet-sidebar.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet.icon.glyph@0.2.1/Leaflet.Icon.Glyph.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
